---
title: "카테고리"
layout: default
permalink: "/categories.html"
---

<style>
	.thumbnail-wrapper {
		max-height: 400px;
		overflow: hidden;
		margin-bottom: 30px;
	}

	.thumbnail-wrapper img {
		max-height: initial;
	}

	.category-description {
		font-size: 20px;
	}
</style>

{% assign category_name = page.url | split: "/" | last %}
{% assign not_showed = true %}

{% if category_name != "categories" %}
<div class="thumbnail-wrapper">
	<img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
</div>
<a class="sitetag category-title" href="{{ page.url }}">{{ page.title }}</a>
<div class="category-description">{{ content }}</div>
<div style="margin-bottom: 50px;"></div>
{% endif %}

{% for category in site.categories %}
{% if category_name == "categories" or category_name == category[0] %}
{% if category_name == "categories" %}
<h4 class="mt-5 mb-neg-30 cat-btn" id="{{ category[0] | replace: " ","-" }}" onclick="location.href='/{{ category[0] }}'"><span class="text-capitalize badge badge-primary text-small">{{ category[0] }}</span></h4>
{% endif %}
{% assign not_showed = false %}
{% assign pages_list = category[1] %}
<div class="blog-grid-container">
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>
{% endif %}
{% endfor %}

{% if not_showed %}
<h2 class="text-center" style="margin: 100px 0;">{% if category_name == "categories" %}게시물이 존재하지 않습니다.{% else %}해당 카테고리의 컨텐츠가 존재하지 않습니다.{% endif %}</h2>
{% endif %}
